<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
                        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">



	<!--jbpm4.4工作流的配置 -->
	<bean id="springHelper" class="org.jbpm.pvm.internal.processengine.SpringHelper">
		<property name="jbpmCfg" value="jbpm/jbpm.cfg.xml" />
		
	</bean>
	<!-- 工作流引擎，用于获取服务 -->
	
	
<!-- 	<bean id="processEngine" factory-bean="springHelper"
		factory-method="createProcessEngine" />
	包含了用来管理发布流程的所有方法
	<bean id="repositoryService" factory-bean="processEngine"
		factory-method="getRepositoryService" />
	用来执行流程
	<bean id="executionService" factory-bean="processEngine"
		factory-method="getExecutionService" />
	提供对任务列表的访问途径和任务处理
	<bean id="taskService" factory-bean="processEngine"
		factory-method="getTaskService" />
	历史记录服务
	<bean id="historyService" factory-bean="processEngine"
		factory-method="getHistoryService" />
	JBPM自带的用户-用户组管理服务
	<bean id="identityService" factory-bean="processEngine"
		factory-method="getIdentityService" />
	管理服务通常用来管理job
	<bean id="managementService" factory-bean="processEngine"
		factory-method="getManagementService" /> -->
</beans>